.u-section-1 .u-sheet-1 {
  min-height: 6346px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 81px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 81px 0;
}

.u-section-1 .u-text-5 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-7 {
  text-align: start;
  margin: 15px 81px 0;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-10 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-12 {
  text-align: start;
  margin: 15px 81px 0;
}

.u-section-1 .u-text-13 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-15 {
  text-align: start;
  margin: 15px 81px 0;
}

.u-section-1 .u-text-16 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-18 {
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-19 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-21 {
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-22 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-24 {
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-25 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-27 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-29 {
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-30 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-32 {
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-33 {
  text-align: start;
  margin: 20px 332px 0 81px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  text-align: start;
  margin: 13px 81px 0;
}

.u-section-1 .u-text-35 {
  width: 809px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-36 {
  width: 809px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-37 {
  margin: 20px 83px 0;
}

.u-section-1 .u-text-38 {
  text-align: center;
  width: 809px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-39 {
  text-align: left;
  margin: 20px 83px 0;
}

.u-section-1 .u-text-40 {
  text-align: center;
  margin: 20px 165px 0 166px;
}

.u-section-1 .u-text-41 {
  text-align: left;
  margin: 20px 83px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 172px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    width: 809px;
    margin-left: 66px;
    margin-right: 65px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 41px;
  }

  .u-section-1 .u-text-35 {
    width: 720px;
  }

  .u-section-1 .u-text-36 {
    width: 720px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-40 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-35 {
    width: 540px;
  }

  .u-section-1 .u-text-36 {
    width: 540px;
  }

  .u-section-1 .u-text-38 {
    width: 540px;
  }

  .u-section-1 .u-text-40 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-33 {
    width: 259px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-34 {
    width: 259px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-35 {
    width: 340px;
  }

  .u-section-1 .u-text-36 {
    width: 340px;
  }

  .u-section-1 .u-text-38 {
    width: 340px;
  }

  .u-section-1 .u-text-40 {
    width: 340px;
  }
}